
  
  .faq-section {
    max-width: 400px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .faq-section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .faq {
    margin-bottom: 15px;
  }
  
  .faq-question {
    width: 100%;
    padding: 12px;
    text-align: left;
    background-color: #c69d8823;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .faq-answer {
    display: none;
    padding: 15px;
    background-color: #05241980;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .faq-answer ul {
    list-style-type: none;
  }
  
  .faq-answer ul li {
    margin-bottom: 5px;
  }
  
  .faq-question:hover {
    background-color: #0c2d2e;
  }
  
  .faq-answer p, .faq-answer ul li {
    font-size: 14px;
    color: #ffffff;
  }
  .faq-section .links{
        display:flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1em;
      }
      

    .faq-section .links a {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    background-color: #c69d8823;
    padding: .2em ;
    width: 100%;
    transition: .5s ease;
    text-align: left;
  }   
  .socialmedia i{
    margin: 0  1em 0 0;
  }
     .faq-section .links a:hover{
        background-color: #0c2d2e;
      }
    

      footer{
        justify-content: space-around;
    
      }
  