/* for phone */
@media (max-width:768px){
    .logo{
        width: 300px;
    
    }
#Home{
display: block;
}
.description{
    width: 100%;
    justify-content: center;
    padding-right:0;
    margin-left: 2rem;
}
.ldiv{
    margin-top: 5rem;
}
.image{
    width: 100%;
    margin: 5rem;
}
.News div{
    width : 380px;
    margin:1rem 0;
}
.Gallery div{
    margin-left: 3rem;
    width: 380px;
height: 340px;
margin:1rem 0;
}
.Comments .divs{

width: 380px;
height: 340px;
margin:1rem 0;
}
.block{
    display: block;
}
.sidebar{
    margin-top: 1em;
    height:max-content ;
}
.sidebar ul li {
    height:0.005em;
    a{
        font-size: 0.7em;

      i{
        font-size: .8em;
    }
}
}
#footer{
    width:100%;
    z-index: 100000;
    position: absolute;
    bottom: -10000000000;
}
    
.nav{
    display: none;

}
.logo img{
   
    width: 2.5em;
}


}