/* Mobile & Tablet Responsive Styles */

/* For Tablets */
@media screen and (max-width: 768px) {
    body{
        font-size: 16px;
        width: 100%;

    }
    header{
        display: flex;
        height:9vh;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
    }
    .logo{
        font-size: .75em;
    }
    .nav{
        display: none;
    }
    .sidebar{
        display: none;
        position:absolute;
        right: 0;
        top: 0;
    }
     .sidebar ul{
        display: none;
    }
    main{
        margin: 0;
        padding: 2em 0
    }
    .main{
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: column;
        margin: 0;
        padding:0;
    }
    .description{
        width: 100%;
        padding: 8em 0 0 0;
        margin: 0;

    }
    .description h1{
        font-size: 1.7em;
    }
    .image{
        width: 100%;
        margin: 4em 0;
        padding: 0;

    }

    .map {
        display: flex;
        flex-direction: column; /* Stack the left and right divs vertically on mobile */
        align-items: center;
        justify-content: center;
    }

    
    .left {
        width: 100%;
       
        font-size: 14px; /* Adjust text size for readability on smaller screens */
        padding: 0;
        text-align: start;

        p{  padding:0;
            margin: 0;
            width:100%;
        }
    }

    /* Adjust the map iframe */
    .right {
        width: 90%;
        margin: 10px 0;
    }

    /* Make the map iframe responsive */
    iframe {
        width: 100%;
        height: 250px; /* Adjust iframe height for smaller screens */
    }

    .other{
        justify-content: center;
    }

    .news{
        margin: 10px auto;
    }
}